* {
  margin-top: 0%;
}
nav h2{
  padding-left: 200px;
  font-size: 40px;
}
.banner {
  background: linear-gradient(322deg, rgba(45,8,14,1) 37%, rgba(133,0,0,1) 47%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  font-size: larger;
  height: 100%;
  text-transform: capitalize;
}

.banner nav {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 20px;
  font-size: large;
  color: #f5f5f5;
}

.banner nav ul{
  display: flex;
  width: 40%;
  justify-content: space-around;
  border-radius: 50px;
  font-size: 18px;
  height: 25%;
  gap: 20px;
}

h2 a{
  font-weight: 700;
  color: #f5f5f5;
}
h2 a:hover {
  transition: 0.5s;
  background-color: red;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 50px;
}
 nav ul li a {
  color: #f5f5f5;
 }

 nav ul li a:hover {
  transition: 0.5s;
  background-color: red;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 15px;
  font-size: larger;
 }

.texto-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffffb0;
  padding-left: 60px;
} 

